<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <test name="Test Odyssey e-Commerce Site">
        <classes>
            <class name="com.odyssey.TestRunner.TestRunnerPurchaseBooks"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
